@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, winter;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: linear-gradient(to bottom left, #ededed00, #192330); /* from-blue-500 to-purple-700 */
  color: #ededed;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1rem;

  height: fit-content;
}
